:root {
    scroll-behavior: smooth;
      --main-color: #201d1d;
}

#services {
    min-height: 100px;
    display: center;
}
       @media (min-width: 660px) {
               #price {
                    display: flex;
                    justify-content: center;
                    grid-gap: 5px;
                }
            }

                @media (min-width: 660px) {
                    #contacts {
                        display: flex;
                        flex-direction: row;
                        grid-gap: 5px;
                    }
